name: gitleaks with version JTheinert

on: [pull_request]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: gitleaks-action
      uses: JTheinert/gitleaks-action@master
      with:
        config-path: rules.toml
