name: gitleaks with checkout@v2

on: [pull_request]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '1'
    - name: gitleaks-action
      uses: rheien/gitleaks-action@master
